<div class="container">
  <footer class = "footer"
    <small>
      Copyright &copy; <a href="https://www.linkedin.com/in/lakshya-vaibhav-datta-11a5b134/"> Lakshya Vaibhav Datta </a>
    </small>  
    <nav>
      <ul>
          <li><%= link_to "About", about_path %></li>
      </ul>      
    </nav>
  </footer>
</div>